html {
    margin: 0px;
    background-color: gray;
    font-family: "EB Garamond", serif;
}

.gridAlignment {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 25px;
}

#theClock {
    font-size: 45px;
    text-align: center;
    /* padding-right: 25px; */
}

#theDate {
    font-size: 45px;
    text-align: center;
}