html {
    margin: 0px;
    background-color: gray;
    font-family: "EB Garamond", serif;
}

.gridAllignment {
    display: grid;
    justify-content: center;
    
}

#theClock {
    display: grid;
    font-size: 45px;
    text-align: center;
}

#theDate {
    display: grid;
    font-size: 45px;
    text-align: center;
}